@font-face {
  font-family: "boxicons";
  font-style: normal;
  font-weight: 400;
  src: url("boxicons.woff2") format("woff2");
  font-display: block;
}

.bx {
  display: inline-block;
  font-family: "boxicons" !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bxl-facebook::before { content: "\e926"; }
.bxl-twitter::before { content: "\e979"; }
.bxl-instagram::before { content: "\e939"; }
.bxl-skype::before { content: "\e966"; }
.bxl-linkedin::before { content: "\e944"; }
